.container-fluid{
    padding: 20px;

    .col-md-6{
        padding: 0;
    }
}

.card-title-badge{
    color: white;
    background-color: #5e5eed;
    border-radius: 8px;
    padding: 2px;
    font-weight: bold;
    font-size: 12px;
}

.date-options-grid{
    padding-top: 10px;
    
}
