<div class="container-fluid">
    <div class="task-title">
        <h4>Task Dashboard</h4>
    </div>
    <form>
        <div class="form-group col-md-6">
            <label for="select-project">Select a project</label>
            <select class="form-control" id="select-project" (change)="showTasksByProject($event.target.value)">
                <option>Seleccione un proyecto</option>
                <option *ngFor="let proj of projects" [value]="proj.id">{{proj.name}}</option>
            </select>
        </div>
    </form>
    <a href="#" class="badge badge-primary">{{selectedDate | date:'MMMM'}}</a>
    <div class="task-table">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Date</th>
                <th scope="col">Estimated tasks</th>
                <th scope="col">Logged tasks</th>
                <th scope="col">Total Task</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let taskBoard of summaryTasks; let i = index">
                    <td>{{taskBoard.startDate | date}} - {{taskBoard.endDate | date}}</td>
                    <td>{{taskBoard.estimatedTasks}}</td>
                    <td>{{taskBoard.loggedTasks}}</td>
                    <td>{{taskBoard.totalTasks}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>